// colors choice 2
$c-bg: #f0f5f9;
$c-font: #174044;
$c-shade1: rgb(0, 115, 119);
$c-shade2: hsl(0, 0%, 33%);
$c-shade3: rgb(0, 196, 104);
// $c-shade3: rgb(0, 163, 87);

// --------------------------------
// Font-Family: 'Raleway', Sans-Serif;
// Font-Size: 44px;
/* font */
$f-title: 'Raleway', Sans-Serif;
$f-title-size: 1.2rem;
$f-text: 'Open Sans', Sans-Serif;
$f-text-size: 1.4rem;

// --------------------------------


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $f-text;
    font-size: $f-text-size;
    color: $c-font;
    font-weight: 600;
}

button {
    outline: none;
    padding: 10px 15px;
    background-color: $c-shade3;
    font-family: $f-text;
    color: white;
    border: none;
    transition: 0.2s background-color;
}

    button:hover {
        cursor: pointer;
        background-color: rgb(0, 128, 100);
    }

.header {
    background-color: $c-shade1;
    color: $c-bg;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #topLeft {
        font-family: $f-title;
        font-size: $f-title-size;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .reduxlogo {
            width: 25px;
            height: 25px;
            margin-right: 15px;
            color: $c-bg;
        }
    }

    #topRight {
       
        .links {
            margin: 0 20px;
            color: $c-shade3;
            text-decoration: none;
        }

        .is-active {
            color: rgb(85, 255, 176);
        }

        .links:hover {
            color: rgb(244, 255, 247);
        }

        
    }
}

ul {
    list-style-type: none;
}

h3 {
    font-family: 'Open Sans';
    font-size: 1.8rem;
    color: $c-shade2;
    font-weight: 700;
}

h4 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1px;
}

.mainTitles {
    margin: 30px 0;
    font-family: $f-title;
    color: $c-shade1;

    .titleLine {
        margin: 7px 0 20px 0;
        width: 20%;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    font-weight: 600;

    .mainLeft {
        width: 50%;
        padding: 10px 20px 30px 20px;

        .form_section {
            margin: 0 0 30px 0;
            padding: 20px 15px;
            border: 2px solid rgb(145, 145, 145);
            border-radius: 3px;

            hr {
                border: 1px solid rgb(238, 238, 238);
                width: 100%;
                margin: auto;
                margin-top: 5%;
                margin-bottom: 5%;
            }

            .list {
                margin-top: 15px;
            }

            .inputter {
                padding: 8px 13px;
                margin-bottom: 15px;
                width: 100%;
            }

            .saveButton {
                margin-top: 15px;
            }

            .ace {
                border: 1px solid rgb(185, 185, 185);
                background-color: rgb(246, 246, 246);
            }
            
        }

        .form_buttons {
            display: flex;
            justify-content: space-between;

            .reset {
                background-color: rgba(255, 2, 65, 0.863);
            }

                .reset:hover {
                    background-color: rgba(255, 59, 108, 0.863);
                }
        }


    }
    
    .mainRight {
        width: 50%;

        .output {
            padding: 10px 20px 30px 20px;
            white-space: pre;

            .output_section {
                margin-bottom: 15px;
                padding: 15px 15px 20px 15px;
                border: 2px solid rgb(145, 145, 145);
                border-radius: 3px;

                .codeBlock {
                    font-size: 1.5rem;
                    border: 1px solid rgb(185, 185, 185);
                }
            }

        }

        
    }

    
    
}




.footer {
    background-color: $c-shade1;
    color: $c-bg;
    padding: 40px 30px 40px 30px;

    .footer_top {
        display: flex;
        justify-content: flex-start;

        .footer_topRight {
            margin-left: 10px;
        }
        
        .githubIcon {
            width: 40px;
            height: 40px;
        }

        .love {
            font-size: 1.3rem;
        }

        .footerGithubLink {
            outline: none;
            color: $c-shade3;

            :hover {
                color: rgb(85, 255, 176);
            }

            .footerGitHubLink:active {
                color: rgb(254, 255, 254);

            }
        }

    }

    .footer_bot {
        margin: 10px 0;
        font-size: 1.2rem;
    }

}

// Accordion
 .accordion {
    background-color: rgb(221, 221, 221);
    color: rgb(53, 53, 53);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border: none;
}

    .active, .accordion:hover {
        background-color: rgb(204, 204, 204);
    }

    .panel {
        padding: 10px 18px;
        background-color: rgba(227, 255, 242, 0.26);
        color: rgb(68, 68, 68);
        border: 1px solid rgb(221, 221, 221);
        overflow: hidden;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        justify-content: space-between;

        .insideEdit {
            margin: 5px 0;
        }
        
        .logicEdit {
            margin-left: 5px;
        }

        .actionLister {
            margin-left: 10px;
            font-size: 1.0rem;
        }

        .insideDeleteButton {
            background-color: rgba(255, 2, 65, 0.863);
            height: 40px; 
        }
            
            .insideDeleteButton:hover {
                background-color: rgba(255, 59, 108, 0.863);
                height: 40px;
            }
    } 

    .arrows {
        stroke: #333;
        stroke-width: 1.5;
        fill: none;
    }

    .button_layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button_icon {
        margin-top: 3px;
    }

.output_accordion {
    border: 1px solid rgb(212, 212, 212);
}

// multi selector changes
.multiSelector {
    border: 1px solid rgb(185, 185, 185);
    margin-top: 12px;
}

    .multiSelector:hover {
        background-color: whitesmoke;
    }

.multiSelector2 {
    border: 1px solid rgb(185, 185, 185);
    margin-top: 0;
}
    

.picky__input {
    color: $c-font;
    font-size: 1.2rem;
    padding: 8px 13px;
}

    .picky__input:hover {
        background-color: rgb(236, 236, 236);
    }

    .picky__dropdown {
        padding: 5px;
        color: rgb(0, 91, 114);
    }

    .option {
        font-size: 1.1rem;
        background-color: rgb(96, 221, 252);
        display: flex;
        align-items: center;
    }


@media (max-width: 600px) {
    .main {
        display: flex;
        flex-wrap: wrap;

        .mainRight {
            width: 100%;
        }

        .mainLeft {
            width: 100%;
        }
    }
}
